theme = "modus_operandi"

[editor]
line-number = "relative"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.insert]
"C-]" = "normal_mode"     # Maps Ctrl-] to enter normal mode

[keys.select]
"C-]" = "normal_mode"     # Maps Ctrl-] to enter normal mode
